#body {background-color: lightseagreen;}

.container{
    width: 300px;
    height: 80px;
    background: white;
    padding: 12px 20px;
    display: flex;
    margin: 200px auto;
    border-radius: 8px;
    box-shadow: 0 20px 25px rgba(58, 55, 55, 0.2);
  }
  .rotate{
    overflow: hidden;
  }
  span{
    display: block;
    height: 100%;
    padding-left: 10px;
    color: purple;
    animation: rotate_words 6s infinite;
  }
  @keyframes rotate_words{
    10%{
      transform: translateY(-75%);
    }
    25%{
      transform: translateY(-79%);
    }
    35%{
      transform: translateY(-176%);
    }
    50%{
      transform: translateY(-180%);
    }
    60%{
      transform: translateY(-275%);
    }
    75%{
      transform: translateY(-280%);
    }
    85%{
      transform: translateY(-373%);
    }
    100%{
      transform: translateY(-380%);
    }
  }


.container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 100%;
  

}






